
@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}

body {
    --leafheight: 100vh;
    --leafwidth: calc(var(--leafheight)*0.64);
    --leftpadding: 64px;

    display: flex;
    margin: 0px;
}

.leafpic {
    height: var(--leafheight);
    width: var(--leafwidth);
}

.logo {
    height: calc(var(--bannerheight)*0.9);
    width: auto;
}

.odinBarText {
    color: white;
    font-family: norse-bold;
    font-size: 64px;
}


.banner {
    --bannerheight: calc(var(--leafheight)*0.2);
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: calc(var(--leafwidth));
    height: var(--bannerheight);
    top: calc(var(--leafheight)*0.2);

    background-color: rgba(0, 0, 0, 0.5);
}

.rightbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--leftpadding);
    flex-grow: 1;
}

.entryWrapper {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-right: 20vw;
    padding-bottom: 10px;
}

form {
    margin-left: calc(var(--leftpadding)*-1);
}

.formWrapper {
    padding-left: var(--leftpadding);
    padding-bottom: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formcol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 200px;
    gap: 16px;
}

.entry {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
}

button {
    margin-top: 32px;
    margin-left: var(--leftpadding);
    background-color: #596D48;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.logInText {
    margin-top: 32px;
}

text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 64px;
}

.letdothis {
    padding-top: 32px;
}

label {
    font-family: monospace;
}

input {
    border: solid;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)  
}